.wrapper{
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;

  .list{
    display: flex;
    flex-direction: column;
    gap: 8px;

    .listItem{
      font-size: 16px;
      color: var(--primary);
      font-weight: 800;
      line-height: 24px;
    }
  }

  .conclusion{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 1175px){
  .wrapper{
    margin: 0 10px;
    width: unset;
  }
}
