@import "dark_theme";
@import "light_theme";

html {
  max-height: 100vh;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.app{
  background-color: var(--primary-bg);
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Onest', sans-serif;
  outline: none;
}

body {
  background: var(--bg-secondary);
  height: 100%;
  overflow: hidden;
  *,
  *:after,
  *:before {
  }
}

.theme_transition,
.theme_transition * {
  transition: 250ms !important;
}

main {
  display: flex;
  flex: 1;
  position: relative;
}
aside,
main {
  height: 100vh;
}

:root {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color};
  }
  color-scheme: light;
}
@media (prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $dark-theme {
      --#{$name}: #{$color};
    }
    color-scheme: dark;
  }
}
:root[color-scheme="light"] {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color};
  }
  color-scheme: light;
}
:root[color-scheme="dark"] {
  @each $name, $color in $dark-theme {
    --#{$name}: #{$color};
  }
  color-scheme: dark;
}

.react-resizable {
  position: relative;
}